*.class

# Package Files #
*.jar
.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# individual settings
.settings/
.settings1/

#doc?
doc/
.checkstyle
# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
