*.class

# Package Files #
*.jar
.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# settings
.settings/
.checkstyle
doc/
www-test/
war/mhcs.MHCS.JUnit/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
~*.*
/test-classes/mhcs/blaed/test/placeholder.txt
/test/mhcs/blaed/test/.#SaveLoggedModulesTest.java
/test/mhcs/blaed/test/placeholder.txt
/war/mhcs/gwt-voices.swf
/war/oldSound/loadsuccessful.mp3
/war/oldSound/loadsuccessful.wav
/war/oldSound/logindenied.mp3
/war/oldSound/logindenied.wav
/war/oldSound/minconfigready.mp3
/war/oldSound/minconfigready.wav
/war/oldSound/saveSuccessful.mp3
/war/oldSound/saveSuccessful.wav
/war/oldSound/testwelcome.mp3
/war/oldSound/welcome.mp3
/war/oldSound/welcome.wav
/.gwt/.gwt-log
